/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@import 'tailwindcss';
/* choose one of the following */

/* DEFAULT THEME
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'flowbite/src/themes/default'; */

/* MINIMAL THEME
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'flowbite/src/themes/minimal'; */

/* ENTERPRISE THEME
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'flowbite/src/themes/enterprise'; */

/* PLAYFUL THEME */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import 'flowbite/src/themes/playful';

/* MONO THEME
@import 'flowbite/src/themes/mono'; */
@plugin 'flowbite/plugin';
@source '../node_modules/flowbite';

:root {
	--qwik-dark-blue: #006ce9;
	--qwik-light-blue: #18b6f6;
	--qwik-light-purple: #ac7ff4;
	--qwik-dark-purple: #713fc2;
	--qwik-dirty-black: #1d2033;
	--qwik-dark-background: #151934;
	--qwik-dark-text: #ffffff;
}

html {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';
}

body {
	padding: 0;
	margin: 0;
	line-height: inherit;
}
