name: ESLint

on:
  push:
    paths:
      - '.github/workflows/eslint.yml'
      - 'eslint.config.mjs'
      - '**/eslint.config.mjs'
      - 'package*.json'
      - '**/package*.json'
      - '**/*.*ts*'
  pull_request:
    paths:
      - '.github/workflows/eslint.yml'
      - 'eslint.config.mjs'
      - '**/eslint.config.mjs'
      - 'package*.json'
      - '**/package*.json'
      - '**/*.*ts*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  eslint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      security-events: write
      actions: read
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
          disable-sudo-and-containers: true
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci --ignore-scripts --include-workspace-root --workspaces
      - run: npm run-script install --if-present --include-workspace-root --workspaces
      - run: npm run lint:fix
        continue-on-error: true
      - name: Check for Changes
        id: changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "changes=true" >> $GITHUB_OUTPUT
          else
            echo "changes=false" >> $GITHUB_OUTPUT
          fi
      - run: git add **/*.*ts*
        if: steps.changes.outputs.changes == 'true'
      - name: Git Setup
        if: steps.changes.outputs.changes == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: git commit -m "Ran linter"
        if: steps.changes.outputs.changes == 'true'
        continue-on-error: true
      - run: git push
        if: steps.changes.outputs.changes == 'true'
        continue-on-error: true
      # - run: npm install -D @microsoft/eslint-formatter-sarif
      # - run: npm run lint -- --format @microsoft/eslint-formatter-sarif --output-file eslint-results.sarif
      #   continue-on-error: true
      # - uses: github/codeql-action/upload-sarif@ff0a06e83cb2de871e5a09832bc6a81e7276941f # v3.28.18
      #   with:
      #     sarif_file: eslint-results.sarif
