name: Publish frontend

on:
  push:
    branches:
      - production
    paths:
      - '.github/workflows/publish-frontend.yml'
      - 'workers/frontend/**'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose an environment to deploy to:'
        required: true
        type: environment

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment || github.ref_name }}
      url: https://${{ (inputs.environment || vars.ENVIRONMENT) != 'production' && format('{0}.', (inputs.environment || vars.ENVIRONMENT)) || '' }}dns.demosjarco.dev
    steps:
      - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          disable-sudo-and-containers: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci --ignore-scripts --include-workspace-root --workspace frontend
      - run: npm run-script install --if-present --include-workspace-root --workspace frontend
      - name: Restore TS cache
        uses: actions/cache/restore@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            workers/*/.tsbuildinfo
          key: tsc-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
          restore-keys: |
            tsc-
          enableCrossOsArchive: true
      - name: Restore server cache
        uses: actions/cache/restore@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            workers/frontend/server/**
          key: qwik-s-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
          restore-keys: |
            qwik-s-
          enableCrossOsArchive: true
      - run: npm --workspace frontend run build:types
      - name: Save TS cache
        uses: actions/cache/save@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            workers/*/.tsbuildinfo
          key: tsc-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
          enableCrossOsArchive: true
      - name: Restore client cache
        uses: actions/cache/restore@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            workers/frontend/dist/**
          key: qwik-c-${{ hashFiles('workers/frontend/src/**', '**/*.tsbuildinfo', '**/package-lock.json') }}
          enableCrossOsArchive: true
      - run: npm --workspace frontend run build:client
      - name: Save client cache
        uses: actions/cache/save@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            workers/frontend/dist/**
          key: qwik-c-${{ hashFiles('workers/frontend/src/**', '**/*.tsbuildinfo', '**/package-lock.json') }}
          enableCrossOsArchive: true
      - run: npm --workspace frontend run build:server
      - name: Save server cache
        uses: actions/cache/save@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            workers/frontend/server/**
          key: qwik-s-${{ hashFiles('workers/frontend/src/**', '**/*.tsbuildinfo', '**/package-lock.json') }}
          enableCrossOsArchive: true
      - run: npm --workspace frontend run lint
      - run: echo "wrangler_version=$(npm ls wrangler --depth=0 --json | jq -r '.dependencies.wrangler.version')" >> $GITHUB_OUTPUT
        id: npm_wrangler_version
      - uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        id: wrangler
        with:
          wranglerVersion: ${{ steps.npm_wrangler_version.outputs.wrangler_version }}
          apiToken: ${{ secrets.WORKER_DEPLOY_CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          environment: ${{ (vars.ENVIRONMENT == 'production' && '') || vars.ENVIRONMENT }}
          workingDirectory: workers/frontend
          vars: |
            GIT_HASH
            CF_ACCOUNT_ID
          secrets: |
            CF_API_TOKEN
        env:
          GIT_HASH: ${{ github.sha }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
