name: Publish frontend

on:
  push:
    branches:
      - production
    paths:
      - '.github/workflows/publish-frontend.yml'
      - 'adapters/**'
      - 'db/**'
      - 'do/**'
      - 'public/**'
      - 'src/**'
      - '*.config.*js'
      - '*.config.*ts'
      - 'wrangler.jsonc'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose an environment to deploy to:'
        required: true
        type: environment

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment || github.ref_name }}
      url: https://${{ (inputs.environment || vars.ENVIRONMENT) != 'production' && format('{0}.', (inputs.environment || vars.ENVIRONMENT)) || '' }}dns.demosjarco.dev
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo-and-containers: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci --ignore-scripts
      - run: npm run-script install --if-present
      # - name: Restore TS cache
      #   uses: actions/cache/restore@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      #   with:
      #     path: |
      #       .tsbuildinfo
      #     key: tsc-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
      #     restore-keys: |
      #       tsc-
      #     enableCrossOsArchive: true
      # - name: Restore server cache
      #   uses: actions/cache/restore@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      #   with:
      #     path: |
      #       server/**
      #     key: qwik-s-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
      #     restore-keys: |
      #       qwik-s-
      #     enableCrossOsArchive: true
      - run: npm run build:types
      # - name: Save TS cache
      #   uses: actions/cache/save@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      #   with:
      #     path: |
      #       .tsbuildinfo
      #     key: tsc-${{ hashFiles('**/*.tsbuildinfo', '**/package-lock.json') }}
      #     enableCrossOsArchive: true
      # - name: Restore client cache
      #   uses: actions/cache/restore@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      #   with:
      #     path: |
      #       dist/**
      #     key: qwik-c-${{ hashFiles('src/**', '**/*.tsbuildinfo', '**/package-lock.json') }}
      #     enableCrossOsArchive: true
      - run: npm run build:client
      # - name: Save client cache
      #   uses: actions/cache/save@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      #   with:
      #     path: |
      #       dist/**
      #     key: qwik-c-${{ hashFiles('src/**', '**/*.tsbuildinfo', '**/package-lock.json') }}
      #     enableCrossOsArchive: true
      - run: npm run build:server
      # - name: Save server cache
      #   uses: actions/cache/save@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      #   with:
      #     path: |
      #       server/**
      #     key: qwik-s-${{ hashFiles('src/**', '**/*.tsbuildinfo', '**/package-lock.json') }}
      #     enableCrossOsArchive: true
      - run: npm run lint
      - run: echo "wrangler_version=$(npm ls wrangler --depth=0 --json | jq -r '.dependencies.wrangler.version')" >> $GITHUB_OUTPUT
        id: npm_wrangler_version
      - uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        id: wrangler
        with:
          wranglerVersion: ${{ steps.npm_wrangler_version.outputs.wrangler_version }}
          apiToken: ${{ secrets.WORKER_DEPLOY_CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          vars: |
            GIT_HASH
            CF_ACCOUNT_ID
          secrets: |
            CF_API_TOKEN
        env:
          GIT_HASH: ${{ github.sha }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
