name: Publish API Gateway

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/publish-apig.yml'
      - 'dist/*.cf-apig.openapi.json'
      - 'apiGateway.mts'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name }}
      url: https://dns.demosjarco.dev
    permissions:
      contents: write
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
          disable-sudo-and-containers: true
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci --ignore-scripts
      - run: npm run-script install --if-present
      - run: npm run publish:static
        env:
          CF_API_TOKEN: ${{ secrets.WORKER_DEPLOY_CF_API_TOKEN }}
          ZONE_ID: ${{ secrets.DEMOSJARCO_DEV_ZONE_ID }}
