name: Frontend | Update worker types

on:
  push:
    paths:
      - '.github/workflows/updateWorkersTypes.yml'
      - 'workers/frontend/worker-configuration.d.ts'
      - 'workers/frontend/wrangler.jsonc'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  update-files:
    runs-on: ubuntu-latest
    if: github.actor != 'demosjarco-prettier[bot]'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          disable-sudo-and-containers: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci --ignore-scripts --include-workspace-root --workspace frontend
      - run: npm run-script install --if-present --include-workspace-root --workspace frontend
      - run: npm --workspace frontend run build:types:cf
      - run: npm --workspace frontend run fmt:fix
      - name: Git Setup
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: git add workers/frontend/worker-configuration.d.ts
      - run: git commit -m "Update worker types" || echo "worker types update not needed"
      - run: git push
