name: Update worker types

on:
  push:
    paths:
      - '.github/workflows/updateWorkersTypes.yml'
      - 'worker-configuration.d.ts'
      - 'wrangler.jsonc'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  update-files:
    runs-on: ubuntu-latest
    if: github.actor != 'demosjarco-prettier[bot]'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo-and-containers: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Git Setup
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci --ignore-scripts
      - run: npm run-script install --if-present
      - run: npm run build:types:cf
      - run: npm run fmt:fix
      - run: git add worker-configuration.d.ts
      - run: git commit -m "Update worker types" || echo "worker types update not needed"
      - run: git push
